include ../mixins.jade

each review, index in reviews
	div.review
		a(href="/#{review.author}").review-author
			= review.author

		h2.review-title
			a(href="/#{review.author}/review/#{review.id}")
				= review.title

		+rating(review.rating)

		iframe(src="https://embed.spotify.com/?uri=spotify:#{review.spotify_item_type}:#{review.spotify_item_id}&theme=white", width="300", height="80", frameborder="0", allowtransparency="true").review-player
