extends ../layout

include ../components.jade
include ../forms.jade

block content
	.content.container
		ol.breadcrumb
			case spotifyItem.type
				when 'artist'
					li.active
						+artist(spotifyItem)
				when 'album'
					li
						each artist, index in spotifyItem.artists
							+artist(artist)
							if index !== (spotifyItem.artists.length - 1)
								= ', '
					li.active
						+album(spotifyItem)
				when 'track'
					li
						each artist, index in spotifyItem.artists
							+artist(artist)
							if index !== (spotifyItem.artists.length - 1)
								= ', '
					li
						+album(spotifyItem.album)
					li.active
						+track(spotifyItem)

		a(href="/#{review.author}").review-author
			= review.author

		h1.review-title
			= review.title
			if loggedUser && review.author === loggedUser.spotify_id
				.btn-group.pull-right
					a(href="/#{review.author}/review/#{review.id}/edit", role="button").btn.btn-default Edit the review
					a(href="/#{review.author}/review/#{review.id}/delete", role="button").btn.btn-danger Delete the review

		+rating(review.rating)

		div.review-text
			= review.text

		iframe(src="https://embed.spotify.com/?uri=spotify:#{review.spotify_item_type}:#{review.spotify_item_id}&theme=white", width="300", height="380", frameborder="0", allowtransparency="true").review-player

		div#reactions
			h3 Reactions

			+reactionForm(review, "reaction")

		div#comments
			h3 Comments

			+commentForm

			each comment, index in review.comments
				.comment
					a(href="/#{comment.author}").comment-author
						= comment.author

					p.comment-title= comment.title

					div.comment-text= comment.text

					+reactionForm(comment, "comment/"+ comment.id +"/reaction")
