mixin artist(artist)
	a(href="/artist/#{artist.id}")
		= artist.name

mixin album(album)
	a(href="/album/#{album.id}")
		= album.name

mixin track(track)
	a(href="/track/#{track.id}")
		= track.name

mixin rating(rating)
	.rating-component
			- for (var i=0; i<5; i++)
				span(class={ 'glyphicon-star': rating > i, 'glyphicon-star-empty': rating <= i, }, aria-hidden="true").glyphicon

mixin reaction(entity, action)
	.reaction-component.btn-group
		form(method="post", action="#{review.id}/#{action}").display-inline
			input(type="hidden", name="type", value="up")

			button(type="submit").btn.btn-link
				span(aria-hidden="true").glyphicon.glyphicon-thumbs-up
				span.badge= entity.reactions.ups

		form(method="post", action="#{review.id}/#{action}").display-inline
			input(type="hidden", name="type", value="down")

			button(type="submit").btn.btn-link
				span(aria-hidden="true").glyphicon.glyphicon-thumbs-down
				span.badge= entity.reactions.downs
