extends layout

block content
	h1 Searched #{term}

	form
		div.form-group
			label(for="term") Term
			input(type="text", name="q", value="#{term}", placeholder="Enter searched term").form-control#term

		div.checkbox
			label.checkbox-inline(for="typeArtist")
				input(type="checkbox", name="types[]", value="artist", checked=(types.indexOf('artist') != -1))#typeArtist
				| artists

			label.checkbox-inline(for="typeAlbum")
				input(type="checkbox", name="types[]", value="album", checked=(types.indexOf('album') != -1))#typeAlbum
				| albums

			label.checkbox-inline(for="typeTrack")
				input(type="checkbox", name="types[]", value="track", checked=(types.indexOf('track') != -1))#typeTrack
				| tracks

			label.checkbox-inline(for="typePlaylist")
				input(type="checkbox", name="types[]", value="playlist", checked=(types.indexOf('playlist') != -1))#typePlaylist
				| playlists

		input(type="submit", value="Search").btn.btn-primary

	if data.artists
		h2 Artists

		div.row
			each item, index in data.artists.items
				div.col-md-3 
					iframe(src="https://embed.spotify.com/?uri=spotify:#{item.type}:#{item.id}", width="300", height="380", frameborder="0", allowtransparency="true")

	if data.tracks
		h2 Tracks

		div.row
			each item, index in data.tracks.items
				div.col-md-3 
					iframe(src="https://embed.spotify.com/?uri=spotify:#{item.type}:#{item.id}", width="300", height="380", frameborder="0", allowtransparency="true")
